.horizontalScrollContainer {
    width: 100%;
    overflow: hidden;
    margin-bottom: 8rem;
  }
  
  .scrollItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .stickyFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px -2px 28px 0px #0000003D;
    border-top: 1px solid #E5E5E5;
    z-index: 100;
    padding: 2rem 0rem;
    
    button {
        outline: none;
        background: none;
        border: none;
        color: black;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        margin: 0rem 1.5rem;
        border-radius: 2rem;
        &:hover {
            text-decoration: underline;
        }
    }

    .prev {
        background-color: #e5eaed;
        color: #093451;
    }

    .next {
        background-color: #093451;
        color: #e5eaed;
    }
}
  